body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Tinos', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mediumorchid;
  letter-spacing: 0.15em;
  color: lavender;
}

div{
  background-color: orchid;
  width: 60%;
  height: 60%;
  padding: 2em;
  word-wrap: break-word;
}

p{
  font-size: 1.5em;
  text-transform: capitalize;
  text-align: center;
}

input[type="text"]{
  display: block;
  width: 100%;
  font-size: 1.3em;
  padding: 0.2em;
  text-align: center;
  border-radius: 10px;
  border: 1px solid darkmagenta;
  color: darkmagenta;
  font-family: inherit;
  margin: 0;
}

input[type="submit"]{
  display: block;
  margin: 2em auto;
  font-family: inherit;
  font-size: 1.2em;
  padding: 0.5em;
  border: 1px solid darkmagenta;
  color: darkmagenta;
  border-radius: 10px;
}

input[type="submit"]:hover{
  cursor: pointer;
  color: lavender;
  background-color: darkmagenta;
  transition: background-color 0.2s ease-in;
}

.warning{
  background-color: tomato;
  padding: 0.4em;
  font-size: 1.2em;
  color: darkred;
}

#message{
  display: flex;
  justify-content: center;
  color: darkmagenta;
  font-size: 2em;
}
